option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: club_recruit.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    EnvironmentType: LoadBalanced
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    MatcherHTTPCode: "200"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:asg:
    MinSize: "1"
    MaxSize: "6"
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    Period: "5"
    BreachDuration: "5"
    UpperThreshold: "60"
    UpperBreachScaleIncrement: "1"
    LowerThreshold: "20"
    LowerBreachScaleIncrement: "-1"
  aws:elasticbeanstalk:command:
    DeploymentPolicy: RollingWithAdditionalBatch
    BatchSizeType: Percentage
    BatchSize: "30"
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    RootVolumeType: gp3
    RootVolumeSize: "16"
    DisableIMDSv1: "true"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    RetentionInDays: "7"
    DeleteOnTerminate: "true"
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: "true"
    PreferredStartTime: "Tue:09:00"
  aws:elasticbeanstalk:managedactions:platformupdate:
    UpdateLevel: minor
    InstanceRefreshEnabled: "true"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: club_recruit.settings
    DJANGO_DEBUG: "false"
    POSTGRES_SSL: "true"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"

container_commands:
  01_migrate:
    command: source /var/app/venv/*/bin/activate && python manage.py migrate --noinput
    leader_only: true
  02_collectstatic:
    command: source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput
